.haidresserContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.haidresserContainer > * {
  margin: 2rem auto;
}

.infosContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infosContainer > div {
  margin-top: 2rem;
}

/*Tablet */
@media screen and (min-width: 700px) {
  .infosContainer {
    flex-direction: row;
  }
}

/*Desktop menu*/
@media screen and (min-width: 960px) {
  .infosContainer {
    flex-direction: row;
  }
}
