.landingPageContainer {
  width: 80%;
  margin: auto;
  padding: 3rem 0 10rem;
}

.haidresserContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.haidresserContainer > * {
  margin: 2rem auto;
}

.haidresserContainer > img {
  border-radius: 50%;
  background-color: var(--primary-color);
  width: 200px;
  height: 200px;
}

.infosContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infosContainer > div {
  margin-top: 2rem;
}

/*Tablet */
@media screen and (min-width: 700px) {
  .infosContainer {
    flex-direction: row;
  }
}

/*Desktop menu*/
@media screen and (min-width: 960px) {
  .infosContainer {
    flex-direction: row;
  }
}
