nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}

img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
}

ul {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
  padding: 0 1rem;
}
