.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}

.nav i {
  color: var(--primary-color);
  font-size: 1.5rem;
}

ul {
  display: flex;
  align-items: center;
}

ul > * {
  list-style-type: none;
  padding: 0 1rem;
  text-decoration: none;
  color: var(--base-color);
}
