.footer {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem 10%;
  color: var(--light-font);
  font-size: 0.8rem;
}

.footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer li {
  color: var(--light-font);
  text-decoration: none;
  list-style-type: none;
  padding-right: 1rem;
}

.footer li:hover,
.footer i:hover {
  color: var(--base-color);
}

.footer i {
  font-size: 1.2rem;
  margin: 0 1rem;
}
